<h2>Wecome to PizzaSHQ</h2>

<div class="row">

	<% @products.each do |p| %>
	<p>
	<div class="col-md-3">
		<%= p.title %>	
		
	</div>	
	</p>
	<% end %>
</div>
<button class="btn-primary" onclick="something()">Click me!</button>


